#map{
 position: absolute;
 margin-top: 40px;
 top: 0;
 bottom: 0;
 width: 100%;
}

#slider {
   position: absolute;
   bottom: 45px;
   right: 250px;
   left: 250px;
   height: 10px;
   width: 100%%;
   z-index: 999;
}

#datetext {
   height: 40px;
   position: relative;
   left:40px;
   font-size: 18px;
   color: #cccccc;
   padding-top: 10px !important;
}
 
.navbar-nav > li > a, .navbar-brand {
   padding-top:10px !important; 
   padding-bottom:0 !important;
   height: 40px;
   max-height: 40px;
   font-size: 18px;
}
.navbar {min-height:40px !important; max-height: 40px !important;}

.container-fluid {
   padding-right:0;
   padding-left:0;
   margin-right:auto;
   margin-left:auto
}

.legend_manual {
   color: #053061;
}
.legend_radar {
   color:red;
}
